.icon-custom{
	font-size: 1.125rem;
	display: inline-block;
	vertical-align: middle;
	padding: 0 0.4375rem;
	font-weight: 700;
	position: relative;
	top: -2px;
}

.text-underline{
	text-decoration: underline;
}

.btn-custom{
	padding: 0 !important;
}

.btn-custom:focus{
	box-shadow: none;
}
}

@media (max-width: 768px) {

	.notification_dropdown .dropdown-menu-right .media p {
		max-width: 200px
	}
}
